<p id="notice"><%= notice %></p>

<h1>创新与创业项目</h1>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">创业项目查找</a>
  <%= form_tag controller: "businesses", action: "search", method: "post" do %>
    <%= label_tag(:id, "搜索:") %>
    <%= text_field_tag :id %>
    <%= submit_tag("确定") %>
  <% end %>
</nav>
<table  class="table table-hover">
  <thead>
    <tr>
      <th>项目名称</th>
      <th>学号</th>
      <th>姓名</th>
      <th>计划书</th>
      <th>导师</th>
      <th>状态</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr>
        <td><%= business.business_id %></td>
        <td><%= business.leader_id %></td>
        <td><%= business.leader_name %></td>
        <td><%= link_to business.plan_url,file_download_path(business) %></td>
        <td><%= business.mentor %></td>
        <td><%= business.state %></td>
        <td><%= link_to '删除', business, method: :delete, data: { confirm: '确认删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增创业项目', new_business_path %>
<%= link_to '返回',root_path %>
