<h2>注册</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div style="margin-left: 50px">
  <div class="field">
    <p>邮箱</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
   <div>
     <p>注册为</p>
     <%= f.select :role, [['学生', 'student'], ['教师', 'teacher']]%>
   </div>
   <div>
     <p>学号/教师工号</p>
     <%= f.text_field :user_id, label: false, required: true, autofocus: true, placeholder: "用户名" %>
   </div>
  <div class="field">
    <p>密码</p>
    <% if @minimum_password_length %>
    <em>(最少<%= @minimum_password_length %> 位)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <p>再输一次密码</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "注册" %>
  </div>
<% end %>
<br>
<button type="button" class="btn btn-light"><%= render "devise/shared/links" %></button>
</div>