<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>用户ID</p>
    <%= form.text_field :admin_id %>
  </div>

  <div class="field">
    <p>姓名</p>
    <%= form.text_field :name %>
  </div>

  <div class="field">

    <%form.text_field :role=>"admin" %>
  </div>


  <div class="field">
    <p>性别</p>
    <%= form.select :sex, [['男', '男'], ['女', '女']]%>
  </div>

  <div class="field">
    <p>办公地点</p>
    <%= form.text_area :adress %>
  </div>

  <div class="field">
    <p>联系电话</p>
    <%= form.text_field :phone %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "修改"%>
  </div>
<% end %>
