<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>院系名称</p>
    <%= form.text_field :depart_id %>
  </div>

  <div class="field">
   <p>简述</p>
    <%= form.text_area :describe %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
