<h1>Home#index</h1>

<% if current_user.admin? %>
  <%= link_to "教师管理", teachers_path %>
  <%=link_to "学生管理",students_path %>
  <%=link_to "班级管理",class1s_path %>
  <%=link_to "院系管理",departments_path %>
  <%=link_to "课程管理",courses_path %>
  <%=link_to "教学管理",teach_classes_path %>
  <%=link_to "账户信息",ad_path(current_user) %>
<% elsif current_user.student? %>
  <%= link_to "个人信息", client_path(current_user)%>
  <%= link_to "选课",{controller: "schedules",action: "read",id:(current_user)}%>
  <%= link_to "我的社团",{controller: "organizes",action: "read",id:(current_user)} %>
  <%= link_to "创新与创业",mybusiness_path(current_user) %>
<% elsif current_user.teacher? %>
  <%=link_to "个人信息",list_path(current_user) %>
  <%=link_to "我管理的班级", class2_path(current_user) %>
  <%=link_to "我教授的课程",{controller: "teach_classes",action: "read",id:(current_user)} %>
  <%=link_to "我带领的创业项目",mentor_path(current_user) %>
<% else %>
  <% root_path %>
<% end %>
