<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @teacher.teacher_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @teacher.role %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @teacher.sex %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @teacher.adress %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', root_path %>
