<p id="notice"><%= notice %></p>

<p>
  <strong>教师ID:</strong>
  <%= @teacher.teacher_id %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>性别:</strong>
  <%= @teacher.sex %>
</p>

<p>
  <strong>办公地点:</strong>
  <%= @teacher.adress %>
</p>

<p>
  <strong>电话:</strong>
  <%= @teacher.phone %>
</p>

<%= link_to '修改', edit_teacher_path(@teacher) %> |
<%= link_to '返回', root_path %>
