
<div class = "container">
  <div class="col-md-3" style="background:rgba(0,0,0,.3); text-align: center; margin-left: auto;margin-right: auto;margin-top: 100px">
  <h2>登录</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :用户名 %><br />

    <%= f.text_field :user_id, label: false, required: false, autofocus: true, placeholder: "用户名/邮箱" %>
  </div>

  <div class="field">
       密码<br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      记住我<br/>
    </div>

     <% end %>


  <div class="btn btn-primary">
    <%= f.submit "登录" %>
    <% end %>
  </div>
<%= render "devise/shared/links" %>
  </div>



</div>