<p id="notice"><%= notice %></p>

<h1>课程管理</h1>

<table  class="table table-hover">
  <thead>
    <tr>
      <th>课程号</th>
      <th>课程号</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_id %></td>
        <td><%= course.describe %></td>
        <td><%= link_to '详情', course %></td>
        <td><%= link_to '修改', edit_course_path(course) %></td>
        <td><%= link_to '删除', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建课程', new_course_path %>
<%=link_to '返回',root_path %>